<p id="notice"><%= notice %></p>

<div class="container">
<div class="col-sm-11 col-xs-12 blog-content">
  <h2 class="text-center"> <%= @post.username %></h2>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div></div>
  <div  class="text-center"><%= raw @post.description %></div>
</div>
</div>
<div  class="text-center" style="background:black; color: blue;"><%= link_to 'Return to all blogs', posts_path, class: "btn btn-default" %></div>
</div>


